@import '../../../styles/general/layout.scss';
@import '../../../styles/general/reset.scss';
@import '../../../styles/general/palette.scss';
@import '../../../styles/mixins/media.scss';


.generalWrapper {
    width: 50%;
    background-color: #E6E9F0;
    padding: 25px 15px 10px 20px;

    @include _max768 {
        width: 80%;
        margin: auto;
    }
    
    @include _max480 {
        width: 100%;
    }
}
ul {
    margin: 0;
    padding: 0;
}