@import '../../../styles/general/palette.scss';
@import '../../../styles/general/layout.scss';
@import '../../../styles/general/reset.scss';
@import '../../../styles/mixins/media.scss';
@import '../../../styles/mixins/fonts.scss';

.generalWrapper {
    // border: 2px solid $violet;
    margin-bottom: 10px;
}

.userInfo {
    @extend .flex-container-row;

    &__name {
        margin-right: 10px;
    }
}

.review {
    @include font-options(16px, 16px);
    margin: 20px 0px;
}

.reviewInfo {
    @extend .flex-container-row;

    &__starsAmount {
        margin-right: 10px;
    }
}