@import '../mixins/fonts.scss';
$violet: #5A1094;
$grey: #979797;
$background: #E6E9F0;
$white: #fff;
$pastel-purple: #9769BC;
$bright-pink: #FF1876;
$red: #e03314;
$green: #1b970f;

.flex-container-row {
    display: flex;
    flex-direction: row;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.incorrectInput {
    background-color: rgba(248, 231, 28, 0.07);
}
.button {
    border-radius: 5px;
    text-align: center;
}
.none {
    display: none;
}
.title {
    color: $violet;
    @include font-options(26px, 31px);
}
.subtitle {
    color: $violet;
    @include font-options(16px, 18px);
}