@import '../../../styles/general/palette.scss';
@import '../../../styles/general/layout.scss';
@import '../../../styles/general/reset.scss';
@import '../../../styles/mixins/media.scss';
@import '../../../styles/mixins/fonts.scss';

.productInfoBlock {
    @extend .flex-container-column;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 40%;
    min-width: 480px;
    height: auto;
    max-height: 80%;
    top: 10%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 20px;

    &__close {
        background-color: transparent; 
        align-self: flex-end;
        margin-bottom: 10px; 
    }
}

.productSpecs {
    @extend .flex-container-row;
    margin-bottom: 40px;

    img {
        width: 50%;
    }

    .productDescription {
        padding-left: 20px;
    }
}

.reviewsBlock {
    @extend .flex-container-column;

    &__reviewText {
        // border: 2px solid black; 
        height: 100px;   
        resize: none;
    }
    margin: 20px 0px;
}

.reviewsList {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 50%;
}
