@import '../../../styles/general/layout.scss';
@import '../../../styles/general/reset.scss';
@import '../../../styles/general/palette.scss';
@import '../../../styles/mixins/media.scss';

.generalWrapper {
    width: 50%;
    padding: 25px 7% 50px 50px;

    @include _max768 {
        width: 100%;
        margin: auto;
        padding: 25px 50px 50px 50px;
    }

    @include _max480 {
        width: 100%;
        padding: 25px 30px 50px 30px;
    }
}