@import '../../../styles/general/layout.scss';
@import '../../../styles/general/reset.scss';
@import '../../../styles/general/palette.scss';
@import '../../../styles/mixins/media.scss';

.generalWrapper {
    @extend .flex-container-row;
    margin: auto;
    width: 50%;
    min-width: (1920px / 2);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgb(220, 220, 220);
    background-color: $white;

    @include _max992 {
        width: 100%;
        min-width: 100%;
    }

    @include _max768 {
        height: auto;
        flex-direction: column-reverse;
        width: 70%;
        border-radius: 0px;
        box-shadow: none;
    }

    // @include _max480 {
        
    // }
}