@import '../../../styles/general/layout.scss';
@import '../../../styles/general/reset.scss';
@import '../../../styles/general/palette.scss';
@import '../../../styles/mixins/media.scss';

.liElem {
    @extend .flex-container-column;
    margin-bottom: 15px;
}
.chosenItem {
    @extend .flex-container-row;

    &__image {
        width: 15%;
        object-fit: contain;
    }

}
.itemInfo {
    @extend .flex-container-column;
    width: 85%;
    padding-left: 15px;
    color: #2B2525;

    &__color {
        @include font-options(12px, 12px);
        margin-top: 10px;
        margin-bottom: 5px;
    }

    &__amount {
        @include font-options(10px, 10px);
    }

}
.nameAndPrice {
    @extend .flex-container-row;
    justify-content: space-between;
    font-size: 12px;
    line-height: 11px;

    &__name {
        @extend .product-name;
        @include font-options(14px, 14px);
    }

    &__price {
        color: $grey;
    }
}
.buttonsBlock {
    @extend .flex-container-row;
    margin-top: 5px;

    button {
        padding: 5px 7px;
        margin-right: 5px;
        border-radius: 5px;
        border: 2px solid transparent;
    }

    &__decrease {
        @extend .button;
        width: auto;
        height: 100%;
        background-color: transparent;
        font-weight: bold;
    }

    &__decrease:hover {
        color: $red;
    }

    &__increase {
        @extend .button;
        border-radius: 100%;
        width: auto;
        height: 100%;
        background-color: transparent;
        font-weight: bold;
    }

    &__increase:hover {
        color: $green;
    }

    &__delete {
        @extend .button;
        background-color: transparent;
    }

    &__delete:hover {
        color: $violet;
    }
}