@import '../../styles/general/palette.scss';
@import '../../styles/general/layout.scss';
@import '../../styles/general/reset.scss';
@import '../../styles/mixins/media.scss';
@import '../../styles/mixins/fonts.scss';

.productsWrapper {
    margin: auto;
    width: 50%;
    min-width: 768px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgb(220, 220, 220);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-bottom: 50px;

    @include _max768 {
        width: 100%;
        min-width: 100%;
        box-shadow: none;
        border-radius: 0px;
        padding: 50px 0px 0px 0px;
        margin: 0;
    }

    @include _max480 {
        padding: 0px;
    }
}
.productsList {
    list-style: none;
}
.productItem {
    @extend .flex-container-row;
    padding: 20px 20px;
    margin-bottom: 50px;
    background-color: $background;
    border-radius: 5px;

    &__image {
        width: 20%;
        object-fit: contain;
        cursor: pointer;

        @include _max768 {
            width: 30%;
        }
    
        @include _max480 {
            min-width: 100px;
            width: 80%;
            align-self: center;
            margin-bottom: 20px;
        }
    }


    @include _max480 {
        margin: 0;
        border-radius: 0px;
        flex-direction: column;
    }

}
.itemInfo {
    @extend .flex-container-column;
    justify-content: space-between;
    width: 85%;
    padding-left: 15px;

    &__name {
        @include font-options(22px, 20px);
        @extend .product-name;
        letter-spacing: -1px;
        margin-bottom: 10px;
    }

    &__description {
        @include font-options(16px, 16px);
        margin-bottom: 10px;
        max-height: 100px;
        overflow-y: hidden;
    }   

    &__price {
        color: $grey;
    }
    
}

.buttonsBlock {
    @extend .flex-container-row;
    flex-wrap: wrap;
    margin-top: 10px;

    &__viewItem {
        background-color: $pastel-purple;
        border-radius: 5px;
        text-align: center;
        border: transparent 2px solid;
        color: $white;
        padding: 5px 10px;
        margin-right: 20px;
        // margin-bottom: 5px;
        &:hover {
            background-color: $background;
            border-color: $pastel-purple;
            color: black;
        }
    }

    &__addItem {
        @extend .button;
        background-color: $violet;
        border: transparent 2px solid;
        padding: 5px 10px;
        color: $white;
        &:hover {
            background-color: $background;
            border-color: $violet;
            color: black;
        }
    }
}